header {
  @include flex_column;
  position: relative;
  height: 180px;
  top: 0;
  margin: 0;
  background-color: #222323;
}
.red_line {
  @include flex_end;
  height: 48px;
  background-color: $red;
  // filter: brightness(0.7);
}

.contacts_wrapper {
  @include flex-end;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1400px) {
    margin: 0 40px;
    flex-wrap: wrap;
  }
}

.contacts_text {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  margin-left: 15px;
}

.header_wrapper {
  position: relative;
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;

  margin-top: auto;
  margin-bottom: auto;
  width: 220px;
  text-decoration: none;
}

.logo_img {
  display: flex;
  margin-left: 40px;
  &::after {
    content: "";
    position: relative;
    top: 6px;
    border: 1px solid #fff;
    background-color: #fff;
    width: 2px;
    height: 45px;
    margin: 0 5px;
  }
}

.logo_textconteiner {
  display: flex;
  flex-wrap: wrap;
}

.big_logo_name {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: $red;
  margin: 0;
  height: 30px;
  text-shadow: 1px 1px 2px #000000;
}
.small_logo_name {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: $red;
  text-shadow: 1px 1px 2px #000000;
  margin: 0;
}

nav {
  width: 50%;
  height: 70%;
  @media (max-width: 800px) {
    width: unset;
    height: unset;
    position: relative;
    right: 0;
  }
}

.nav_list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  @media (max-width: 900px) {
    position: absolute;
    flex-direction: column;
    top: 66px;
    right: 0px;
    background-color: #222323;
    width: 40vw;
    height: 0;
    overflow: hidden;
  }
}

.nav_visible {
  height: auto;
  padding-bottom: 25px;
}

.nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  @media (max-width: 900px) {
    height: auto;
    margin-top: 25px;
  }
}

.nav_link {
  display: flex;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.97);
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  &::after {
    position: absolute;
    bottom: -5px;
    content: "";
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: width 0.5s;
  }
  &:hover::after {
    width: 100%;
  }
}

.burger_btn_conteiner {
  display: none;
  position: absolute;
  right: 21px;
  @media (max-width: 900px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 31px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 3px;
    cursor: pointer;
  }
}

.burger_btn_line {
  width: 29px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.65);
  transition: transform 1s;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 29px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.65);
    transition: transform 1s;
  }
  &::before {
    margin-top: 7px;
  }

  &::after {
    margin-top: -16px;
  }
}

.burger_active {
  transform: rotate(45deg);
  &::before {
    transform: rotate(90deg);
    margin-top: 0;
  }
  &::after {
    display: none;
  }
}

.decor {
  display: flex;
  margin-right: 40px;
  align-items: center;
  justify-content: space-around;
  width: 145px;
  height: 45px;
  @media (max-width: 900px) {
    display: none;
  }
}

.decor_link {
  display: flex;
  background-size: cover;
  background-color: unset;
}

.focus {
  background-image: url(../img/Group7.png);
  width: 24px;
  height: 24px;
  &:hover {
    background-image: url(../img/Group3.png);
  }
}

.photo {
  background-image: url(../img/Group6.png);
  width: 35px;
  height: 25px;
  &:hover {
    background-image: url(../img/Group4.svg);
  }
}

.scape {
  background-image: url(../img/Group8.svg);
  width: 37px;
  height: 25px;
  &:hover {
    background-image: url(../img/Group9.svg);
  }
}
