.servises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
max-width: 1000px;
}

.servis_item {
    border-radius: 15px;
    overflow: hidden;
    list-style: none;
    margin-bottom: 4vh;
background-color:darkgrey;
}