@import "normalize";
@import "header";
@import "main";

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  position: relative;
  top: -95px;
  margin: 0;
  background-image: url(../img/dmitry-berdnyk-KazuJrQhVEg-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.section_container {
  width: 100vh;
}